{% load static %}
<nav class="navbar sticky-top navbar-expand-lg mb-1" style="background-color: #003a70">
    <div class="container-fluid ">
        <a class="navbar-brand" href="{% url 'homepage' %}"> <img src="{% static 'Talos/img/new.png' %}" width="150px" alt="" srcset=""> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end text-end " id="navbarSupportedContent">
            <ul class="navbar-nav   mb-2 mb-lg-0">
                <li class="nav-item mx-2">
                    <a class="nav-link  text-white  fw-bold" aria-current="page" href="{% url 'homepage' %}">Home</a>
                </li>
                {% if request.user.profession.name == 'Doctor' %}
                <li class="nav-item mx-2">
                    <a class="nav-link  text-white  fw-bold" aria-current="page" href="{% url 'Medical-Professional-Onboarding' %}">Profile</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link  text-white  fw-bold" aria-current="page" href="{% url 'Slot' %}">Slot</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                {% for i in data %}
                <li class="nav-item mx-2">
                    <a class="nav-link  text-white fw-bold" aria-current="page" {% if i == 'Consultation' %} href="/Doctor/consultation/" {% endif %}  {% if i == 'Appointments' %} href="/Patient/book-appointment/" {% endif %}   {% if i == 'Registration' %} href="/Patient/patient-registration/" {% endif %} >{{ i }}</a>
                </li>
                {% endfor %}
                {% endif %}
                <li class="nav-item mx-2">
                    <a class="nav-link text-white fw-bold" aria-current="page" href="#">Help</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-white fw-bold" aria-current="page" href="#">Policy</a>
                </li>
                <li class="nav-item mx-2 me-5">
                    <a class="nav-link text-white fw-bold" aria-current="page" href="#">Contact-us</a>
                </li>
            </ul>
        </div>
        <div class="btn-group nav-menu-group text-white" role="group">
            {% if request.user.is_authenticated %}
            <a href="{% url 'account_logout' %}" class="btn btn-gradient">Sign Out</a>
            {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-gradient">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
