{% extends 'account/base.html' %}
{% block title %} Dashboard {% endblock %}
{% block body %}
{% load static %}

{% if request.user.is_authenticated %}

{% if request.user.profession.name == 'Doctor' %}
Doctor Dashboard
{% elif request.user.profession.name == 'Patient' %}
Patient Dashboard
{% elif request.user.profession.name == 'Admin' %}
Admin Dashboard
<!--<a href="/admin/">Admin</a>-->

{% endif %}
<div class="w-25">
    <ul class="list-group">
        <li><a href="{% url 'account_email' %}" class="list-group-item list-group-item-action">Change Email</a></li>
<!--        <li><a href="{% url 'socialaccount_signup' %}" class="list-group-item list-group-item-action">Social accounts Signup</a></li>-->
        <li><a href="{% url 'socialaccount_connections' %}" class="list-group-item list-group-item-action">Social accounts</a></li>
        <li><a href="{% url 'account_logout' %}" class="list-group-item list-group-item-action">Sign Out</a></li>

    </ul>
</div>
{% endif %}
{% endblock %}
