{% load static %}

    <div class="row bg-secondary m-auto w-100 mt-2  py-1 rounded rounded-bottom-0 rounded-3">
        <div class="col  text-center ">
            <span> <i class="fa-brands fa-square-x-twitter "></i></span>
            <span class="ms-1"><i class="fa-brands fa-facebook-f fa-xl"></i></span>
            <span class="ms-1"><i class="fa-brands fa-youtube fa-2x"></i></span>
            <span class="ms-1"><i class="fa-brands fa-instagram fa-2x"></i></span>
            <span class="ms-1"><i class="fa-brands fa-linkedin fa-2x"></i></span>
            <span class="ms-1"><i class="fa-brands fa-snapchat fa-2x"></i></span>
        </div>
    </div>
<footer class="footer pt-1 mt-0 rounded rounded-top-0 rounded-3">
    <div class="footer__addr">
        <h1 class="footer__logo"><img src="{% static 'Talos/img/Talos_Logo_white.png' %}" width="130px" alt="" srcset=""></h1>
        <address>Powered-by DataNutts IT Solutions<br>
            <a class="btn-gradient footer__btn" href="atsharma@datanutts.com">Email Us</a>
        </address>
    </div>
    <ul class="footer__nav">
        <li class="nav__item">
            <h2 class="nav__title fw-bold fs-4">Patient</h2>
            <ul class="nav__ul">
                <li><a href="#">Online</a></li>
                <li><a href="#">Walk-in</a></li>
                <li><a href="#">Others</a></li>
            </ul>
        </li>

        <li class="nav__item">
            <h2 class="nav__title fw-bold fs-4">Medical Procedures</h2>
            <ul class="nav__ul ">
                <li><a href="#">123 </a></li>
                <li><a href="#">abc</a></li>
                <li><a href="#">xyz </a></li>
            </ul>
        </li>

        <li class="nav__item">
            <h2 class="nav__title fw-bold fs-4">Legal</h2>
            <ul class="nav__ul">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
        </li>
    </ul>

    <div class="legal  mt-0">
        <p class="fw-semibold text-white">&copy; 2023 DataNutts IT Solutions - All Rights Reserved.</p>
        <div class="legal__links">
        </div>
    </div>
</footer>