{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}

{% block content %}
<h1>{% trans "Set Password" %}</h1>
<!--<section class="vh-100">-->
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 pt-4 pb-4 border rounded-2 bg-white border border-2 border-danger">
                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    <div class="d-flex flex-row align-items-center">
                        <div class="float-start col">
                            <p class="lead fw-normal mb-0 me-3">{% trans "Set Password" %}<strong>&nbsp;Talos</strong>
                            </p></div>
                    </div>
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Talos e-Clinic</p>
                    </div>
                    {{ form.as_p }}
                    <input class="btn btn-gradient" type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </form>
            </div>
        </div>
    </div>
<!--</section>-->
{% endblock content %}
