{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 pt-4 pb-4 border rounded-2 bg-white border border-2 border-danger">

                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    <div class="d-flex flex-row align-items-center">
                        <div class="float-start col">
                            <p class="lead fw-normal mb-0 me-3">{% trans "Password Reset" %}<strong>&nbsp;</strong>
                            </p></div>
                    </div>
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">e-Swasthalya</p>
                    </div>
                    <i>{% trans "Reset link will be send to the entered e-mail" %}</i>
                    <div class="form-floating mb-4 mt-4">{% render_field form.email class="form-control" type="email" %}
                    <label for="id_email">Enter your registered Email</label></div>
                    <input class="btn btn-gradient" type="submit" value="{% trans 'Reset My Password' %}"/>
                </form>
            </div>
        </div>
    </div>
<!--    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>-->
</section>
{% endblock content %}