{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a
        href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}

<!--<section class="vh-100">-->
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 pt-4 pb-4 border rounded-2 bg-white">
                <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
                    {% csrf_token %}
                    <div class="d-flex flex-row align-items-center">
                        <div class="float-start col">
                            <p class="lead fw-normal mb-0 me-3">{% trans "Change Password" %}<strong>&nbsp;Talos</strong>
                            </p></div>
                    </div>
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Talos e-Clinic</p>
                    </div>
                    <div class="form-floating mb-4 mt-4">{% render_field form.password1 class="form-control" type="password" %}
                        <label for="id_password1">New Password</label></div>
                    <div class="form-floating mb-4 mt-4">{% render_field form.password2 class="form-control" type="password" %}
                        <label for="id_password2">New Password (again)</label></div>
                    <input class="btn btn-gradient" type="submit" name="action" value="{% trans 'change password' %}"/>
                </form>
            </div>
        </div>
    </div>
<!--</section>-->
{% endif %}
{% endblock content %}
