{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<!--<section class="vh-100">-->
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 pt-4 pb-4 border rounded-2 bg-white">
                <h3>{% trans "Change Password" %}</h3>
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
        </div>
    </div>
<!--</section>-->
{% endblock content %}
